# rcov generated
coverage
coverage.data

# rdoc generated
rdoc

.coveralls.yml

# yard generated
doc
.yardoc

# bundler
.bundle

# jeweler generated
pkg

.DS_Store

# For emacs:
*~
\#*
.\#*

# For vim:
*.swp

# For privacy:
spec/settings.yml
fixtures/vcr_cassettes/*.yml
