---
http_interactions:
- request:
    method: get
    uri: https://lcab.sms-uslugi.ru/lcabApi/getPhoneInfo.php?login=demo&password=demo&phone=79000000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/json; charset:utf-8;
    body:
      encoding: UTF-8
      string: '{"code":1,"descr":"\u041e\u043f\u0435\u0440\u0430\u0446\u0438\u044f
        \u0437\u0430\u0432\u0435\u0440\u0448\u0435\u043d\u0430 \u0443\u0441\u043f\u0435\u0448\u043d\u043e","phone":"79000000000","district":"\u041a\u0440\u0430\u0441\u043d\u043e\u0434\u0430\u0440\u0441\u043a\u0438\u0439
        \u043a\u0440\u0430\u0439","country":"\u0420\u043e\u0441\u0441\u0438\u044f","opsos":"\u0422\u0435\u043b\u0435
        2 (\u0446\u0438\u0444\u0440\u043e\u0432\u0430\u044f \u043f\u043e\u0434\u043f\u0438\u0441\u044c)"}'
  recorded_at: Sat, 22 Feb 2014 19:05:47 GMT
recorded_with: VCR 2.6.0
