---
http_interactions:
- request:
    method: get
    uri: https://lcab.sms-uslugi.ru/lcabApi/getPhoneInfo.php?login=100egeDev&password=6oZ4MLXLiDAPah&phone=79150500155
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/json; charset:utf-8;
    body:
      encoding: UTF-8
      string: '{"code":1,"descr":"\u041e\u043f\u0435\u0440\u0430\u0446\u0438\u044f
        \u0437\u0430\u0432\u0435\u0440\u0448\u0435\u043d\u0430 \u0443\u0441\u043f\u0435\u0448\u043d\u043e","phone":"79150500155","district":"\u041c\u043e\u0441\u043a\u0432\u0430","country":"\u0420\u043e\u0441\u0441\u0438\u044f","opsos":"\u041c\u0422\u0421
        (\u0446\u0438\u0444\u0440\u043e\u0432\u0430\u044f \u043f\u043e\u0434\u043f\u0438\u0441\u044c)"}'
  recorded_at: Mon, 24 Mar 2014 15:48:56 GMT
recorded_with: VCR 2.6.0
