---
http_interactions:
- request:
    method: get
    uri: https://lcab.sms-uslugi.ru/lcabApi/info.php?login=demo&password=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/json; charset:utf-8;
    body:
      encoding: UTF-8
      string: '{"code":1,"descr":"\u041e\u043f\u0435\u0440\u0430\u0446\u0438\u044f
        \u0437\u0430\u0432\u0435\u0440\u0448\u0435\u043d\u0430 \u0443\u0441\u043f\u0435\u0448\u043d\u043e","account":"583.12","ocode":"80009999999","tarif":"\u0410\u0432\u0430\u043d\u0441::50","price":"0.50","source":["systemTest","Ded Moroz"],"receive_numbers":["79029999999","79028888888"],"userAccess":{"canExportContacts":"1","canDeleteGroups":"1","canDeleteContacts":"1","canConfig":"1","canViewReportNums":"1","canViewNumbersInPhonebook":"1","canEditPhonebook":"1","canEditContacts":"1","canUseAllGroups":"1","canModifyContent":"1","canDealerConfig":"1","canTarifConfig":"1","canManageAllOrgs":"1","canReportsCenter":"1","canViewAllReports":"1","canTarifInfo":"1","canChangeTarif":"1","canManageInputNumbers":"1","canManageClientLoginPassword":"1","canSendSMS":"1","canDopModules":"1","canOnline":"1","canMakePayment":"1","canChangeUseAlfaSourceAll":"1","canPm":"1","canOrgList":"1","canDutyAndSkipped":"0","canUseAllSmsTemplates":"1","canPager":"1","canMyFinReports":"1","canDoc":"1"}}'
  recorded_at: Sat, 22 Feb 2014 11:06:49 GMT
recorded_with: VCR 2.6.0
